html,
body {
  height: 100%; }

body {
  display: flex;
  align-items: center;
  background: url("../../images/bg-top.svg") 50% 0 no-repeat, url("../../images/bg-bottom.svg") 50% 100% no-repeat, #0a061c;
  background-size: 100%;
  font-family: "Playfair Display", serif;
  color: #ffffff; }
  @media all and (max-width: 1300px) {
    body {
      background: url("../../images/bg-top-1200.svg") 50% 0 no-repeat, url("../../images/bg-bottom-1200.svg") 50% 100% no-repeat #0a061c;
      background-size: 100%; } }
  @media all and (max-width: 700px) {
    body {
      background: url("../../images/bg-top-700.svg") 50% 0 no-repeat, url("../../images/bg-bottom-700.svg") 50% 100% no-repeat #0a061c;
      background-size: 100%; } }
  @media all and (max-width: 600px) {
    body {
      background: #0a061c;
      background-size: 100%; } }

body,
h1,
h2,
ul {
  margin: 0;
  padding: 0; }

a {
  color: #ffffff;
  transition: color .5s; }

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px; }
  main h1,
  main h2 {
    font-size: 40px;
    font-weight: 400; }
    @media all and (max-width: 1000px) {
      main h1,
      main h2 {
        font-size: 34px; } }
  main h1 {
    padding-top: 60px;
    position: relative; }
    main h1:before {
      content: '';
      position: absolute;
      top: 0;
      width: 110px;
      height: 13px;
      background: url("../../images/wave.svg") no-repeat;
      background-size: 100%; }
  main h2 {
    padding-bottom: 10px; }
    main h2 span {
      color: #75d9d1; }
  main p {
    margin: 20px 0;
    padding-bottom: 100px;
    line-height: 38px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 24px; }
    main p a:hover {
      color: #75d9d1; }
  main ul {
    list-style: none; }
    main ul li {
      display: inline-block;
      width: 130px;
      padding-right: 70px; }
      main ul li a {
        display: block;
        padding-top: 20px;
        position: relative;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-decoration: none; }
        main ul li a:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 3px;
          transform: scaleX(1);
          transition: transform .7s;
          transform-origin: 0; }
        main ul li a.email:before {
          background: #5e5df7; }
        main ul li a.github:before {
          background: #d84867; }
        main ul li a.linkedin:before {
          background: #75d9d1; }
        main ul li a.instagram:before {
          background: #c6d84c; }
        main ul li a:hover, main ul li a:focus {
          color: #b4b3ba; }
          main ul li a:hover:before, main ul li a:focus:before {
            transform: scaleX(0); }
      @media all and (max-width: 900px) {
        main ul li {
          width: 100px;
          padding-right: 60px; } }
      @media all and (max-width: 715px) {
        main ul li {
          padding-right: 0;
          width: auto; }
          main ul li:not(:last-child) a {
            margin-right: 70px; }
          main ul li a {
            font-size: 14px; }
            main ul li a:before {
              display: none; }
            main ul li a.email {
              color: #8786ff; }
            main ul li a.github {
              color: #ff6485; }
            main ul li a.linkedin {
              color: #75d9d1; }
            main ul li a.instagram {
              color: #ddf349; } }
  @media all and (max-width: 600px) {
    main {
      padding: 90px 25px;
      text-align: center; }
      main h1,
      main h2 {
        line-height: 50px; }
      main h1 {
        padding-top: 90px; }
        main h1:before {
          left: 50%;
          transform: translate(-50%); }
      main h2 {
        padding-bottom: 20px; }
      main p {
        padding-bottom: 50px;
        line-height: 44px; }
      main ul li {
        padding: 0;
        display: block; }
        main ul li a {
          color: #ffffff;
          font-size: 16px;
          padding-top: 35px; }
          main ul li a, main ul li a:last-child {
            margin-right: 0; } }
