footer {
	ul {
		list-style: none;
		padding-bottom: 15px;

		li {
			display: inline-block;

			& + li {
				margin-left: 23px;
				padding-left: 23px;
				border-left: solid 1px #4d4c54;
			}

			a {
				display: block;
				text-decoration: none;
				font-size: 12px;
				letter-spacing: 1.4px;
				font-weight: 700;
				color: #4d4c54;
				text-transform: uppercase;
			}
		}
	}

	@media all and (max-width: 600px) {
		ul {
			li {
				display: block;
				margin: 20px 0;

				& + li {
					border: 0;
					padding-left: 0;
					margin-left: 0;
				}
			}
		}
	}
}
